<a href="https://colab.research.google.com/github/elbintreejo/ict-assignment/blob/main/assignment01_elbin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [ ]:
a = int(input('enter item1 price: '))
b = int(input('enter item1 quantity: '))
c = int(input('enter item2 price: '))
d = int(input('enter item2 quantity: '))
t = a*b+c*d
print(t)

enter item1 price: 10
enter item1 quantity: 2
enter item2 price: 30
enter item2 quantity: 2
80

2

In [ ]:
c = int(input('enter temp of celsius'))
f = (c*9/5)+32
print(f)

enter temp of celsius30
86.0

3

In [ ]:
a = float(input("enter the basic salary: "))
n = a+(0.20*a)+(0.10*a)
print("nt salary: ",n)

enter the basic salary: 20000
nt salary:  26000.0

5

In [1]:
total_minutes = int(input("Enter total minutes: "))

hours = total_minutes // 60
minutes = total_minutes % 60

print(f"{hours} hours and {minutes} minutes")

Enter total minutes: 120
2 hours and 0 minutes

6

In [11]:
weight = float(input ("enter weight in kg"))
height = float (input ("enter the height in m"))
bmi = weight / (height * height)

print("bmi=", bmi)

enter weight in kg60
enter the height in m1.65
bmi= 22.03856749311295

4

In [5]:
p = float(input("enter the principal amount:"))
r = float(input("enter the annual interest rate (in percentage):"))
t = float (input("enter the time (in years):"))
#calculate simple interest
si = (p*r*t)/100
print ("simple interest = ", si)

enter the principal amount:100000
enter the annual interest rate (in percentage):5
enter the time (in years):2
simple interest =  10000.0

7

In [17]:
a = float(input("enter the original price"))
b = float (input("enter the discounted price"))
d =a-(a*b)/100
print(d)

enter the original price1200
enter the discounted price10
1080.0

8

In [19]:
import math

a = float(input("Enter the length of side a: "))
b = float(input("Enter the length of side b: "))
c = float(input("Enter the length of side c: "))

s = (a + b + c) / 2
area = math.sqrt(s * (s - a) * (s - b) * (s - c))

print(f"The area of the triangle is: {area}")

Enter the length of side a: 5
Enter the length of side b: 6
Enter the length of side c: 7
The area of the triangle is: 14.696938456699069

9

In [23]:
a=float(input("Enter wall length"))
b=float(input("Enter wall height"))
t=a*b
w=2*(1.5*1.2)
p=t-w
print("total area painted",p)
c=p*25
print("total cost",c)

Enter wall length12
Enter wall height8
total area painted 92.4
total cost 2310.0

10

In [24]:
a=float(input("Enter number of units consumed"))
b=(a*5.2)+100
print(b)

Enter number of units consumed250
1400.0